.register_form{
    width: 100%;
}

.input_container{
    margin: .5rem;
    max-width: 500px;
}

.input_container input{
    width: 100%;
    /* height: 100%; */
    padding: 1rem 0.8rem;
    border-radius: .5rem;
}

.submit_container{
    background: #000000a5;
    border-radius: .5rem;
    color: white;
}

.slick-slider{
    z-index: 100 !important;
}

.slick-track{
    z-index: 100 !important;
}

.slick-list{
    z-index: 90;
}