@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-primary : #6f68f8;
    --color-white : #fff;
    --color-black : #000;
    --color-red : rgba(255,63,63,1);
    --color-gray-100 : hsl(220,20%,10%,5%);
    --color-gray-200 : hsl(220,20%,10%,10%);
    --color-gray-300 : hsl(220,20%,10%,25%);
    --color-gray-500 : hsl(220,20%,10%,50%);
    --color-gray-700 : #252542;
    --color-gray-900 :  #0c0c22;;
    --color-bg-body : hwb(180 96% 3%);
    --color-bg : hwb(240,95%,0%);

    --transition:all 300ms ease;

    --container-width-lg:84%;
    --container-width-md:92%;
    --form-width:92%;

    --radius-1: 0.3rem;
    --radius-2: 0.6rem;
    --radius-3: 1rem;
    --radius-4: 2rem;
}

::-webkit-scrollbar {
    display: none;
}


.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 2000;
  }

.bg1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bg2{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    font-family: 'Poppins',sans-serif;
    background: var(--color-bg);
    font-size: .9rem;
    line-height: 1.6;
    color:var(--color-gray-700)
}

a{
    /* color: var(--color-gray-700); */
    text-decoration: none;
}

ul{
    list-style: none;
}

/* h1, h2, h3, h4, h5, h6{
    color: var(--color-gray-900);
    line-height: 1.1;
} */

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.9rem;
}

h3{
    font-size: 1.3rem;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
}

section{
    /* margin-bottom: 3rem; */
}

.container{
    width: var(--container-width-lg);
    margin-inline: auto;
    overflow: hidden;
}

.btn{
    display: inline-block;
    width: fit-content;
    padding: .5rem 1rem ;
    border-radius: var(--radius-2);
    background: var(--color-gray-300);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition)
}

.btn-prim{
    background: var(--color-primary);
    color: var(--color-white)
}

.btn-dang{
    background: var(--color-red);
    color: var(--color-white)
}

.btn-category{
    background: var(--color-bg);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}

.btn-sm{
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
}

.btn-dan{
    background: var(--color-red);
    color: var(--color-white)
}

.btn:hover{
    background: var(--color-gray-900);
    color: var(--color-white);
}

.center{
    text-align: center;
    /* padding-top: 5rem; */
    margin-inline: center;
    display: block;
    width: 100%;
    min-height: 70vh;
}

/* NAVBAR */
nav{
    /* width: 100%; */
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background: var(--color-gray-300);
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1; */
    border-radius: 4px solid var(--color-bg);
    backdrop-filter: blur(20px);
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav_logo{
    width: 3rem;
    display: block;
    margin-left: 2rem;
}

.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_menu li{
    margin-right: 2rem;
}

/* .nav_toggle_btn{
    display: none;
} */

/* FOOTER */
footer{
    background: var(--color-gray-900);
    /* margin-top: 3rem; */
    padding-top:3rem;
}
.footer_category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.footer_category a{
    background: var(--color-gray-700);
    color: var(--color-white);
    padding: .6rem 1rem;
    margin: 1rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
}

.footer_category a:hover{
    background: var(--color-white);
    color: var(--color-gray-700);
}

.footer_copyright{
    color: var(--color-white);
    text-align: center;
    border-top: 2px solid var(--color-gray-700);
    padding: 1rem;
    font-weight: 30px;
}

/* Home */
.home_container{
    /* margin-top: 5rem; */
    /* background: #000; */
}
/* Blog */

.blog_container,.author_blog_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: repeat(3,1fr); */
    /* gap: 2rem; */
    /* padding-top: 2rem; */
}

.author_blogs{
    /* margin-top: 5rem; */
}

.blog{
    width: 30%;
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-4);
    margin: 1rem;
    transition: var(--transition);
    cursor: default;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.blog:hover{
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0,0.1);
}

.blog_thumbnail{
  border-radius: var(--radius-3);
  overflow: hidden;
  max-height: 16rem;
}

.blog_content{
   margin-top: 1.5rem;
}

.blog_content p{
    margin-top: 0.3rem;
}

.blog_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.blog_author{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.blog_auther_avatar{
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: var(--radius-2);
    overflow: hidden;

}

/* blog details */

.blog-details{
    width: var(--form-width);
    background: var(--color-white);
    margin-inline: auto;
    padding: 2rem 0;
}

.blog_details_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.blog_details_buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.blog_details_thumbnail img{
    margin: 1rem 0;
    height: fit-content;
    max-height:20rem;
    max-width: 16rem;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* .blog_details p{
    
} */

/* silk slider  */

.slick-slider{
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }

  .slick-slider .slick-list {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }

  .my_slider{
    z-index: 1;
  }





